name: Gradle


on:
  push:
    paths-ignore: ["core/src/main/resources/**"]
  pull_request:
    branches-ignore: ["renovate/**"]
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-24.04

    permissions:
      actions: read

    steps:
      # https://github.com/actions/checkout
      - name: Checkout Git repository
        uses: actions/checkout@v6.0.2

      # https://github.com/actions/cache
      - name: Cache Gradle
        uses: actions/cache@v5.0.2
        with:
          path: |
            ~/.m2
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      # https://github.com/gradle/gradle-build-action
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
        with:
          gradle-version: wrapper
          cache-overwrite-existing: true

      # https://github.com/actions/setup-java
      - name: Setup JDK 17
        uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 17
          java-package: jdk
          architecture: x64

      # https://github.com/actions/setup-java
      - name: Setup JDK 21
        uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 21
          java-package: jdk
          architecture: x64

      - name: Configure Git
        run: git config --global user.name "Github Actions" && git config --global user.email "actions@github.com"

      - name: Prepare dependencies
        run: ./gradlew validateLibraryLoaderDeps prepareDependencies --no-daemon

      - name: Build project
        run: ./gradlew build --no-daemon

      # https://github.com/actions/upload-artifact
      - name: Upload build artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: UltraCosmetics
          path: build/libs/UltraCosmetics-*.jar
